{% include base_path %}


{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
  
 
	<span>{{post.authors}} {{ post.date | date: "%Y" }}.</span>
      
    <span class="archive__item-title" itemprop="headline">
        {% if post.external_link %}
            <a href="{{ post.external_link }}">{{ title }}<i class="fa fa-external-link" aria-hidden="true"></i></a>
                {% if post.open_access %}
                   <span class="archive__item-title" itemprop="headline"><i class="fas fa-lock-open"></i></span>,
                {% else %}
                    ,
                {% endif %}
        {% else %}
            {{ title }},
        {% endif %}
    </span>

      
    <span class="publication__venue">
        {{post.venue}}.
    </span>
      
    {% if post.details %}
        {{post.details}}.
    {% endif %}	

    {% if post.postprint %}
        (<a href="{{ base_path }}{{ post.postprint }}">postprint available</a>).
    {% endif %}	
 </article>
</div>

